@font-face {
  font-family: Inter;
  font-display: swap;
  src:
    local('Inter Regular'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 400 785;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'Press Start 2P';
  font-display: swap;
  src:
    local('Press Start 2P'),
    url(./PressStart2P-Regular.woff) format('woff');
}
