/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes show-sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-button::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  display: block;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: 0 0;
  z-index: -1;
}

.animated-button:hover::before {
  content: '';
  transform: scaleX(1);
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  --animation-fill-color: #000000;
  transition-delay: 0;
  cursor: pointer;
}

.like-icon:hover .main-body {
  --animation-fill-color: #000000;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  --animation-fill-color: #ff0000;
  transition-delay: 0;
}

.like-icon:active .main-body {
  --animation-fill-color: #ff0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  --animation-fill-color: #ff0000;
  transition-delay: 0;
}

.like-icon.is-liked .main-body {
  --animation-fill-color: #ff0000;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  --contour-color: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s 0.3s ease-in;
}
